<!-- questions-part-b.component.html -->
<div class="container mt-4" id="page-container">
  <div class="page-content">
    <h1 class="text" style="align-items: center;">Part B</h1>
    <table class="table">
      <thead>
        <tr>
          <th class="q-text">Register number</th>
          <th class="q-text" *ngFor="let q of ['11a','11b','12a','12b','13a','13b','14a','14b','15a','15b']">Q{{ q }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let answer of questionAnswers; let i = index">
          <td class="q-text">{{ answer.register }}</td>
          <ng-container *ngFor="let q of answer.q; let j = index">
            <td>
              <input type="number" class="form-control q-input"
                [min]="0" [max]="16" [(ngModel)]="answer.q[j]" (ngModelChange)="checkValue(answer.q[j])"
                [disabled]="(j % 2 === 1 && answer.q[j - 1] !== 0) || (j % 2 === 0 && answer.q[j + 1] !== 0)">
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <!-- Add vertical space -->
    <div class="mt-3"></div>

    <!-- Move the button to the right end -->
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="primary" class="mat-button" (click)="sendToApis()">Next</button>
    </div>
  </div>
</div>
