<div class="container">
  <div class="center-container">
    <div class="input-row" *ngFor="let row of inputRows">
      <div class="form-group" *ngFor="let input of row">
        <label for="input">{{ input.placeholder }}</label>
        <ng-container *ngIf="input.placeholder === 'Course Code'">
          <select class="form-control input-box select-box" style="width: 60%; margin-right: 10px;">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </ng-container>
        <ng-container *ngIf="input.placeholder === 'Course title'">
          <input class="form-control input-box" [placeholder]="input.placeholder" style="width: 60%; margin-right: 10px;">
        </ng-container>
        <ng-container *ngIf="input.placeholder !== 'Course Code' && input.placeholder !== 'Course title'">
          <input class="form-control input-box" [placeholder]="input.placeholder" style="width: 60%; margin-right: 10px;">
        </ng-container>
      </div>
    </div>
    <app-question-type></app-question-type>
  </div>
</div>