<div class="container">
  <div class="center-container">
    <div class="input-row" *ngFor="let row of inputRows">
      <div class="form-group" *ngFor="let input of row">
        <label for="input">{{ input.placeholder }}</label>
        <ng-container *ngIf="input.placeholder === 'Department'">
          <input class="form-control input-box" [ngModel]="department" style="width: 60%; margin-right: 10px; word-wrap: break-word;">
        </ng-container>
        <ng-container *ngIf="input.placeholder === 'Batch'">
          <ng-container *ngIf="allBatchesEqual; else batchDropdown">
            <input class="form-control input-box" [ngModel]="batch">
          </ng-container>
          <ng-template #batchDropdown>
            <select class="form-control input-box select-box" style="width: 60%; margin-right: 10px;">
              <option *ngFor="let batchValue of getUniqueBatches()" [value]="batchValue">{{ batchValue }}</option>
            </select>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="input.placeholder === 'Semester'">
          <select class="form-control input-box select-box" style="width: 60%; margin-right: 10px" [(ngModel)]="selectedSemester" (ngModelChange)="onSemesterChange()">
            <option *ngFor="let sem of semester" [value]="sem">{{ sem }}</option>
          </select>
        </ng-container>
        <ng-container *ngIf="input.placeholder === 'Faculty Id'">
          <input class="form-control input-box" [ngModel]="facultyId">
        </ng-container>
        <ng-container *ngIf="input.placeholder === 'Course Code'">
          <select class="form-control input-box select-box" style="width: 60%; margin-right: 10px" [(ngModel)]="selectedCourseCode" (ngModelChange)="onCourseCodeChange($event)">
            <option *ngFor="let code of courseCodes" [value]="code">{{ code }}</option>
          </select>                        
        </ng-container>
        <ng-container *ngIf="input.placeholder === 'Course title'">
          <input class="form-control input-box" [value]="course.course_title" style="width: 60%; margin-right: 10px;">
        </ng-container>
      </div>
    </div>
    <app-question-type></app-question-type>
    <button mat-raised-button color="primary" class="mat-button" (click)="redirectToQuestiontype()">Next</button>
  </div>
</div>
